@mixin shift($property: all, $duration: 0.1s, $ease: linear) {
  -webkit-transition: $property $duration $ease;
  -moz-transition: $property $duration $ease;
  -o-transition: $property $duration $ease;
  transition: $property $duration $ease;
}

$text-size: 12px;
text {
  fill: rgb(0, 0, 0);
  font-size: $text-size;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
$primary-color: rgb(86, 146, 196);
.recttag {
  rect {
    //fill: $primary-color;
    rx: 2px;
    ry: 2px;
  }
  &:hover {
    cursor: pointer;
    text {
      @include shift();
      font-size: $text-size * 1.2;
    }
    rect {
      @include shift();
      //fill: darken($primary-color, 20%);
      // rx: 10px;
      // ry: 10px;
    }
  }
}
